
.layout{
  margin-top: 110px;
  /*width: 98vw;*/
  height: 100vh;
  display: flex;
  flex-direction: column;
  /*background: rgb(237,242,247);*/
  /*overflow:hidden;*/
}
.contents {
  overflow:auto;
  margin-left: 110px;
  padding-top: 30px;
  height: 100%;
  width: 100%;
}
.main {
  overflow:hidden;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background: rgb(230,242,255);
  /*background: rgb(237,242,247);*/
}

@media (max-width: 800px) {
  .contents {
    overflow:auto;
    margin-left: 10px;
    padding-top: 30px;
    height: 100%;
    width: 100%;
  }
  .main {
    overflow:hidden;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background: rgb(230,242,255);
    /*background: rgb(237,242,247);*/
  }
}