
.layout{
  margin-top: 110px;
  /*width: 98vw;*/
  height: 100vh;
  display: flex;
  flex-direction: column;
  /*background: rgb(237,242,247);*/
  /*overflow:hidden;*/
}
.contents {
  /*overflow:hidden;*/
  margin-left: 110px;
  margin-top: 110px;
  height: 100%;
}
.main {
  overflow:auto;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background: rgb(230,242,255);
  /*background: rgb(237,242,247);*/
}